.expense-item {
  @apply flex bg-slate-600 mx-0 my-4 p-2 items-center justify-between;
}

.expense-item__description {
  @apply flex flex-1 flex-col items-end flex-col-reverse justify-start;
}

.expense-item h2 {
  @apply text-base flex-1 mx-4 my-0 text-white
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  @apply text-base text-white font-bold bg-blue-900
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
