.new-expense {
  @apply bg-blue-400 p-4 m-8 m-auto w-[50rem] max-w-[95%] rounded-2xl text-center shadow-md shadow-slate-800
}

.new-expense button {
  @apply border-indigo-900 bg-indigo-900 text-white cursor-pointer px-4 py-8 rounded-xl mr-4
}

.new-expense button:hover,
.new-expense button:active {
  @apply hover:bg-indigo-700 hover:border border-indigo-700
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
